<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MDRHeader</key>
		<string></string>
		<key>MDRFooter</key>
		<string></string>
		<key>MDRItems</key>
		<array>
			<dict>
				<key>MDRTitle</key>
				<string>无痕通话</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
			<dict>
				<key>MDRTitle</key>
				<string>语音留言提示音</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
			<dict>
				<key>MDRTitle</key>
				<string>网络差时自动转普通电话</string>
				<key>MDRAccessoryType</key>
				<string>UISwitch</string>
			</dict>
			<dict>
				<key>MDRTitle</key>
				<string>通话时长与流量</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
			<dict>
				<key>MDRTitle</key>
				<string>通话网络诊断</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>MDRHeader</key>
		<string></string>
		<key>MDRFooter</key>
		<string></string>
		<key>MDRItems</key>
		<array>
			<dict>
				<key>MDRTitle</key>
				<string>黑名单</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
