<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MDRHeader</key>
		<string></string>
		<key>MDRFooter</key>
		<string></string>
		<key>MDRItems</key>
		<array>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_profile</string>
				<key>MDRTitle</key>
				<string>账号信息</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
				<key>MDRTargetVc</key>
				<string>MDRAccountInfoController</string>
			</dict>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_freecall</string>
				<key>MDRTitle</key>
				<string>免费通话</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
				<key>MDRTargetVc</key>
				<string>MDRSettingBaseController</string>
				<key>MDRPlistName</key>
				<string>MDRFreeCall</string>
			</dict>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_system_call</string>
				<key>MDRTitle</key>
				<string>系统电话</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
				<key>MDRTargetVc</key>
				<string>MDRSettingBaseController</string>
				<key>MDRPlistName</key>
				<string>MDRSystemCall</string>
			</dict>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_yellowpage</string>
				<key>MDRTitle</key>
				<string>黄页</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>MDRHeader</key>
		<string></string>
		<key>MDRFooter</key>
		<string></string>
		<key>MDRItems</key>
		<array>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_backup</string>
				<key>MDRTitle</key>
				<string>备份通讯录</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_merge</string>
				<key>MDRTitle</key>
				<string>合并重复的联系人</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_msg_send</string>
				<key>MDRTitle</key>
				<string>群发短信</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>MDRHeader</key>
		<string></string>
		<key>MDRFooter</key>
		<string></string>
		<key>MDRItems</key>
		<array>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_gongyi</string>
				<key>MDRTitle</key>
				<string>免费通话送爱心</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
			</dict>
			<dict>
				<key>MDRIcon</key>
				<string>icon_setting_about</string>
				<key>MDRTitle</key>
				<string>关于</string>
				<key>MDRAccessoryType</key>
				<string>UIImageView</string>
				<key>MDRAccessoryName</key>
				<string>icon_fakeDisclosure</string>
				<key>MDRTargetVc</key>
				<string>MDRAboutController</string>
				<key>MDRPlistName</key>
				<string>MDRSettingAbout</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
